div{
    width: 800px;
    height: 200px;
    background-color: rgb(127, 210, 255);

}
#header{
    color: white;
    text-align: center;
}
#para{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}